body {
	margin:0;
	padding:0;
	font-size:15px;

}

#main {
	margin:auto;
	margin-top:50px;
	width:540px;
	height:450px;
}

#u,li {
	padding:0;
	margin:0;
	float:left;
	list-style-type:none;
}

.face,.anime,.picture,.vidio,.modle,.more,.talk,.ticket,.at,.user,.address{
	width:50px;
	height:20px;
	text-align:right;
	margin-right:17px;
}
.face {background: url(image.png) no-repeat 0 3px;}
.face:hover {background: url(image.png) no-repeat 0 -20px;}
.anime {background: url(image.png) no-repeat 0 -45px;}
.anime:hover {background: url(image.png) no-repeat 0 -71px;}
.picture {background: url(image.png) no-repeat 0 -96px;}
.picture:hover {background: url(image.png) no-repeat 0 -120px;}
.vidio {background: url(image.png) no-repeat 0 -144px;}
.vidio:hover {background: url(image.png) no-repeat 0 -168px;}
.modle {background: url(image.png) no-repeat 0 -192px;}
.modle:hover {background: url(image.png) no-repeat 0 -218px;}
.more {background: url(image.png) no-repeat 0 -242px;}
.more:hover {background: url(image.png) no-repeat 0 -259px;}

.talk {background: url(image.png) no-repeat 0 -278px;}
.talk:hover {background: url(image.png) no-repeat 0 -303px;}
.ticket {background: url(image.png) no-repeat 0 -324px;}
.ticket:hover {background: url(image.png) no-repeat 0 -349px;}
.at {background: url(image.png) no-repeat 0 -376px;}
.at:hover {background: url(image.png) no-repeat 0 -403px;}
.user {background: url(image.png) no-repeat 0 -428px;}
.user:hover {background: url(image.png) no-repeat 0 -454px;}
.address {background: url(image.png) no-repeat 0 -480px;}
.address:hover {background: url(image.png) no-repeat 0 -506px;}

#m {
	position:absolute;
	margin-left:-40px;
	margin-top:2px;
	display:none;
}
#m li {
	float:none;
}
button {
	float:right;
	margin:5px;
	background:none #B78D63;
	border: 1px solid #9D7E60;
	color:#fff;
	width: 66px;
	height:22px;
}
li:hover {
	border:1px solid blue;
	border-radius: 2px;
	width:48px;
	height: 18px;
}





























